{% load static %}
<html>
<head>
    <title>{{ title}}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/time.css' %}">
</head>
<body>
<div class="page-header">
    {#<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>#}
    <h1><a href="#">The Code Crew Time Sheet</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {%for entry in entries%}

            <div class="container">
                <p>{{entry.name}}</p>
                <p>{{entry.school}}</p>
                <p>{{entry.subject}}</p>
                <p>{{entry.hours}}</p>
                <p>{{entry.date_of_work}}</p>
            </div>

            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>